.section-padding {
    padding: 50px 0;
}

.property-hero {
    width: auto;
    height: auto;
    margin: 100px 0;
}

.hero-text {
    position: static;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.heading.lost-and-found {
    margin-right: auto;
    margin-left: auto;
    font-size: 48px;
    line-height: 1.13em;
}

/* simple solution  */

.images {
    margin-top: 200px;
}

.heading-2 {
    margin-bottom: 67px;
    font-size: 48px;
    line-height: 1.13em;
    font-weight: 500;
    text-align: center;
}

.image-8 {
    margin-bottom: 20px;
    margin-left: 149px;
}

.solution-num {
    color: #F9354E;
}

.solution-step {
    text-align: left;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    transition: .3s;
    /*! box-shadow: 0 1px 2px rgb(0 0 0 / 10%); */
}

.solution-step:hover .solution-text {
    color: #F9354E;
    transition: .3s;
}

.solution-step:hover .solution-num {
    color: #05152F;
    transition: .3s;
}

/* .header1-bg {
    background-image: url('https://assets.website-files.com/5fe22b52285ac81c0bafbab6/5ff742ee5e60adf0511d17df_yellow-blob-1.svg ');
    background-size: cover;
    background-position: left;
} */

/* Check list item  */
.list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.check-list-item {
    overflow: visible;
    padding: 0px 51px 20px;
    background-image: url("https://assets.website-files.com/5fe22b52285ac81c0bafbab6/5ff4c3c62d2ad11b77d5a561_checkmark.svg");
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: no-repeat;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}

.buttons-header {
    margin-top: 15px;
}